html {
  scroll-behavior: smooth;
}

.bg-color-jumbotron {
  background-color: #100d16;
}

.jumbotron {
  width: 100%;
  height: calc(100vh - 8px);
}

.titulo-fonte {
  font-family: "Comfortaa", cursive;
}

.foto-slide {
  object-fit: cover;
  object-position: 0 80%;
  height: 400px;
}

.margens {
  margin: 0 auto;
  padding: 10px;
}

#whoami {
  font-size: 2em;
  font-family: "Comfortaa", cursive;
  padding-top: 20px;
}

.altura {
  padding-top: 45px;
}

.altura-evento {
  padding-top: 80px;
}

.altura-contato {
  padding-top: 50px;
}

#contato {
  width: 100%;
  height: calc(100vh - 96px);
}

.contato-item {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.foto-icone {
  height: 35px;
  width: 35px;
}

.fonte-contato {
  color: #100d16;
  font-family: "Baloo Da 2", cursive;
}

.rodape {
  background: #100d16;
}

.titulo__rodape {
  color: white;
  font-family: "Comfortaa", cursive;
  font-size: 14px;
  text-align: center;
}

/* ------------------ANIMAÇÃO Loading--------------------------- */


.loading {
  font-size: 25px;
  animation: blink .9s ease-in-out infinite;
  font-family: "Comfortaa", cursive;

}
@keyframes blink {
  50% {
      opacity: 0;
  }
}


/* ------------------- ANIMAÇÃO Fabricio ------------------- */

#fabricio {
  max-width: 480px;
  text-align: center;
  margin: 60px auto;
  font-family: "Comfortaa", cursive;
  color: #fff;
}

#fabricio::after {
  content: '|';
  opacity: 1;
  margin-left: 5px;
  display: inline-block;
  animation: blink .7s infinite;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}