#botaovolta{
    margin-top: 30px;
}

#botaoid:hover {
	color:rgb(116, 114, 190);
    box-shadow: 0 2px 3px #777;
    scale: 2px;
}

.bt1 {
    transition: .8s;
    margin: 5px;
}

.botao1 {
    display: flex;
    /* justify-content: center; */
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    margin: 10px;
}

body{
    background-color: #f2f6fe;
}

.mini-curso{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Comfortaa", cursive;
    padding: 5px;
    background-color: #c3e9fa;
}


.titulo-minicurso{

}

/* -------------------ICONES TITULOS ---------------------- */
.gears-back{
    color: #1faabf;
}

.color-front{
    color: #c174db;
}

.server{
    color: #4f7af5;
}

.icone-gestao{
    color: #82c91e;
}


/* ---------------ICONES CURSOS --------------------- */
.seta-back{
    color: #0a551e;
}

.seta-front{
    color: #a60d9e;
}

.seta-mobile{
    color: #1faabf;
}

.seta-infra{
    color: #0d42aa;
}

.seta-gestao{
    color: tomato;
}



.titulo-tecnologias{
    text-align: center;
    font-family: "Comfortaa", cursive;
}

.figura{
    height: auto;
    width: 100%;
}


#back{
    margin-top: 40px;
    padding: 30px;
}


#front{
    margin-top: 40px;
    padding: 30px;
}

#mobile{
    margin-top: 40px;
    padding: 30px;
}

#infra{
    margin-top: 40px;
    padding: 20px;
}

#gestao{
    margin-top: 40px;
    padding: 20px;
}