#botaovolta{
    margin-top: 30px;
}

#botaoid:hover {
	color:rgb(116, 114, 190);
    box-shadow: 0 2px 3px #777;
    scale: 2px;
}

.bt1 {
    transition: .8s;
    margin: 5px;
}

.botao1 {
    display: flex;
    /* justify-content: center; */
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    margin: 10px;
}

.mini-curso{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Comfortaa", cursive;
    margin: 10px;
    padding: 5px;
}

.titulo-tecnologias{
    text-align: center;
    font-family: "Comfortaa", cursive;
}

.figura{
    height: auto;
    width: 100%;
}

