.bg-color-jumbotron{
    background-color: #100D16;
}

.titulo-fonte{
    font-family: 'Comfortaa', cursive;

}

.sobre-mim{
    margin: 0 auto;
}

#whoami {
    font-size: 2em;
    font-family: 'Comfortaa', cursive;
}