html {
  scroll-behavior: smooth;
}

.bg-color-jumbotron {
  background-color: #100d16;
}

.jumbotron {
  width: 100%;
  height: calc(100vh - 8px);
}

.titulo-fonte {
  font-family: "Comfortaa", cursive;
}

.foto-slide {
  object-fit: cover;
  object-position: 0 80%;
  height: 400px;
}

.margens {
  margin: 0 auto;
  padding: 10px;
}

#whoami {
  font-size: 2em;
  font-family: "Comfortaa", cursive;
  padding-top: 20px;
}

.altura {
  padding-top: 45px;
}

.altura-evento {
  padding-top: 80px;
}

.altura-contato {
  padding-top: 50px;
}

#contato {
  width: 100%;
  height: calc(100vh - 96px);
}

.contato-item {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.foto-icone {
  height: 35px;
  width: 35px;
}

.fonte-contato {
  color: #100d16;
  font-family: "Baloo Da 2", cursive;
}

.rodape {
  background: #100d16;
}

.titulo__rodape {
  color: white;
  font-family: "Comfortaa", cursive;
  font-size: 14px;
  text-align: center;
}
