.bg-color-jumbotron{
    background-color: #100D16;
}

.titulo-fonte{
    font-family: 'Comfortaa', cursive;

}

.sobre-mim{
    margin: 0 auto;
    padding: 0 10px;
}

.formacao {
    margin: 0 auto;
    padding: 0 10px;
}

.conhecimentos{
    margin: 0 auto;
    padding: 0 10px;
}

.projetos{
    margin: 0 auto;
    padding: 0 10px;
}

.eventos{
    margin: 0 auto;
    padding: 0 10px;
}

.contato{
    margin: 0 auto;
    padding: 0 10px;
}

#whoami {
    font-size: 2em;
    font-family: 'Comfortaa', cursive;
}